.cards__button-like {
  width: 22px;
  height: 19px;
  border: none;
  background-color: #fff;
  background-image: url("../../../images/cards/button-like.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin-right: 5px;
}

.cards__button-like:hover {
  opacity: 0.5;
}
