.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: calc(100% - 400px);
  /* height: 73px; */
  padding-bottom: 41px;
  margin: 0 200px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 1079px) {
  .header {
    width: calc(100% - 100px);
    margin: 0 50px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    width: 100%;
    /* height: 56px; */
    padding-bottom: 31px;
    margin: 0;
  }
}
