.profile__button-add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 146px;
  min-width: 146px;
  height: 45px;
  margin-left: auto;
  border: 2px solid #fff;
}

@media screen and (max-width: 1079px) {
  .profile__button-add {
    margin-left: 0;
    margin-top: 24px;
    width: 100%;
  }
}
