.profile__info {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 42px 18px;
  row-gap: 13px;
  column-gap: 23px;
  align-items: center;
  margin-right: 10px;
}

@media screen and (max-width: 1079px) {
  .profile__info {
    margin-top: 20px;
    margin-right: 0;
  }
}

@media screen and (max-width: 600px) {
  .profile__info {
    row-gap: 3px;
    margin-left: 22px;
    column-gap: 10px;
  }
}
