.profile__info {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 42px 18px;
  row-gap: 8px;
  column-gap: 18px;
  align-items: center;
  height: 73px;
}

@media screen and (max-width: 1079px) {
  .profile__info {
    margin-top: 29px;
  }
}

@media screen and (max-width: 600px) {
  .profile__info {
    row-gap: 7px;
    column-gap: 10px;
  }
}
